@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b775e;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 70px;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #77C4A0;
  border-radius: 75px;
  margin-top: 5%;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  margin-top: 8px;
}

.input-container i {
  margin-right: 8px; /* Espacio a la derecha del icono */
  color: #fff; /* Color del icono */
  border-radius: 4px;
  background-color: #429870; /* Color de fondo para el icono */ /* Hacer el fondo del icono redondo */
  padding: 8px; /* Espacio interno alrededor del icono */
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0;
}

.form-input {
  margin-bottom: 16px;
}

label {
  margin-bottom: '8px';
  font-weight: 'bold'
}

button.register-button {
  padding: 10px;
  background-color: #429870;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.register-button:hover {
  background-color: #2b8a77;
}
