@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

/* Botones */

.botonClaro {
  background-color: #449b73;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 8rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.botonClaro:hover {
  background-color: #3d8a66;
}

/* Menú */

.menu {
  height: 13vh;
  width: 100%;
  background-color: #31614b;
}

.logo {
  width: 190px;
  padding-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Home */

.gridCarpetas {
  padding: 20vh;
}

.carpeta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carpetaFondo {
  width: 15rem;
  background-color: #daf2e3;
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.carpetaPestaña {
  width: 80px;
  height: 20px;
  background-color: #daf2e3;
  position: absolute;
  top: -15px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.botonesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 12px;
}

/* Registro Evaluaciones */

.registroEvaluacionesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registroEvaluaciones {
  width: 80%;
  text-align: justify;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2rem;
  padding: 0rem 1.5rem;
  border-radius: 100px;
  background-color: #BBE2D0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.listItemTextos {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.2rem;
}

.botonVerde {
  background-color: #31614b;
  color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.botonVerde:hover {
  background-color: #234637;

}

/* Evaluaciones por alumno*/

.evaluacionesPorAlumnoNombre {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Ver evaluacion */

.grupoInput {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2;
}

.listaPreguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pregunta {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Recuadro del login y register */

.alineacion {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.recuadroTexto {
  width: 350px;
  height: 350px;
  background-color: #77c4a0;
  position: relative;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.recuadroTexto2 {
  width: 350px;
  height: 430px;
  background-color: #77c4a0;
  position: relative;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.recuadroInputs {
  display: flex;
  align-items: center;
  background-color: #ddf0e7;
  border-radius: 4px;
  margin-top: 8px;
  width: 225px;
}

.recuadroInputs i {
  margin-right: 8px;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #429870;
  padding: 8px;
}

.recuadroInputs input {
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.recuadroInputs input::placeholder {
  color: grey;
  font-size: 14px;
  font-style: italic;
}

.bordePerfil {
  margin-bottom: -60px;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 45px;
  padding: 15px;
  background-color: #429870;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.unahur-logo {
  width: 190px;
  margin-top: 10px;
}

.alineacion-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

#espacio {
  margin-top: -11px;
}

.texto {
  color: #242424;
  font-weight: 400;
}

#espaciojaja {
  margin-top: 5px;
}

/* Perfil Docente */

.perfilCirculo {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #DDF0E7;
  color: #429870;
  font-size: 3rem;
  font-weight: 500;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}