:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}*/

body {
  font-family: Arial, sans-serif;
  background-color: #0b775e;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 90px;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #c5e0d8;
  border-radius: 75px;
  margin-top: 10%;
  margin-bottom: 10%
}

.form-group {
  margin-bottom: 15px;
}

.input-icon {
  display: flex;
  align-items: center;
}

.input-icon i {
  margin-right: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  margin-bottom: '8px';
  font-weight: 'bold'
}

button.register-button {
  padding: 10px;
  background-color: #2b8a77;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.register-button:hover {
  background-color: #1f6d5b;
}
